{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container-fluid">
    <div style="background-color: chartreuse; padding-top: 130px; padding-bottom: 130px;" class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div style="color: whitesmoke;" class="col-md-8">

                    {{wtf.quick_form(pitch_form)}}

                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}